/* Add formatting for tooltips*/

.tooltip {
    position: absolute;
    width: 225px;
    height: 75px;
    padding: 2px;
    padding-top: 8px;
    font: 12px sans-serif;
    color: black;
    text-align: center;
    background-color: coral;
    border-color: black;
    border-radius: 10px;
}

/* Add formatting for chart axes*/

.axisText {
    font-family: sans-serif;
    font-weight: bold;
    fill: #000000;
    text-anchor: middle;
}

/* Add formatting for chart titles*/

.titleText {
    font-family: sans-serif;
    font-weight: bold;
    fill: #000000;
    text-anchor: middle;
    font-size: 18pt;
}


/* Add formatting for bulleted list*/

.primaryBullet {
    list-style-position: outside;
    font-weight: bold;
}

.secondaryBullet {
    list-style-position: inside;
}
