/* Add formatting for tooltips*/

.tooltip {
    position: absolute;
    width: 250px;
    height: 125px;
    padding: 8px;
    padding-top: 8px;
    font: 12px sans-serif;
    color: black;
    text-align: left;
    background-color: whitesmoke;
    border: 3px solid;
    border-color: black;
    border-radius: 10px;
}

.tooltipTitle {
    font: 12 px sans-serif;
    text-align: center;
}

/* Add formatting for chart axes*/

.axisText {
    font-family: sans-serif;
    font-weight: bold;
    fill: #000000;
    text-anchor: middle;
}

/* Add formatting for chart titles*/

.titleText {
    font-family: sans-serif;
    font-weight: bold;
    fill: #000000;
    text-anchor: middle;
    font-size: 18pt;
}


/* Add formatting for bulleted list*/

.primaryBullet {
    list-style-position: outside;
    font-weight: bold;
}

.secondaryBullet {
    list-style-position: inside;
}

.mr-3 {
    height: 125px;
    width: 125x;
}

.headerImage {
    resize: both;
    height: auto;
    width: 800px;
}

.mainBody {
    background-color: rgba(0, 139, 139, 0.5);
}

a {
    color: darkmagenta;
}
